<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MercadoLiebre - Registrate</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/medias.css">

</head>
<body>
    <header class="bg-yellow">
        <section class="main-header">
            <h1 class="logo">
                <img class="logo-pic" src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
            </h1>

            <form class="search-bar"><input placeholder="Buscar productos, marcas"><button class="fas fa-search"></button></form>

            <p class="subtitle"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            
        </section>
        
        <nav class="navigation">
            <ul class="menu">
                <li><a href=#>Ofertas</a></li>
                <li><a href=#>Tiendas Oficiales</a></li>
                <li><a href=#>Vender</a></li>
                <li><a href=#>Ayuda</a></li>
            </ul>

            <ul class="menu">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href=#>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main class="bg-light-gray container">
        <form class="registration-form" action="/" method="get">
            <div class="form-data-section">
                
                <input type="text" name="name" id="name" class="input-field" placeholder="Nombre y Apellido">
            </div>
            <div class="form-data-section">
                
                <input type="text" name="username" id="username" class="input-field" placeholder="Nombre de usuario">
            </div>
            <div class="form-data-section">
                <label for="birthdate">Fecha de nacimiento</label> 
                <input type="date" name="birthdate" id="birthdate" class="input-field">
            </div>
            <div class="form-data-section">
                
                <input type="text" name="email" id="address" class="input-field" placeholder="e-mail">
            </div>
            <div class="form-data-section">
                <label>Perfil de usuario</label> 
                <label class="cat-option"><input type="radio" value="seller" name="user-type"> Vendedor</label>
                <label class="cat-option"><input type="radio" value="buyer" name="user-type"> Comprador</label>
            </div>
            <div class="form-data-section">
                <label>Categorías de interés</label> 
                <label class="cat-option"><input type="checkbox" name="interest" value="electro"> Electro</label>
                <label class="cat-option"><input type="checkbox" name="interest" value="moda"> Moda</label>
                <label class="cat-option"><input type="checkbox" name="interest" value="hogar"> Hogar</label>
                <label class="cat-option"><input type="checkbox" name="interest" value="jugueteria"> Juguetería</label>
                <label class="cat-option"><input type="checkbox" name="interest" value="vidasana"> Vida sana</label>
            </div>
            <div class="form-data-section">
                <label for="pic">Foto de usuario</label> 
                <input type="file" name="profilePic" accept="image/*">
            </div>
            <div class="form-data-section">
                
                <input type="password" name="password" class="input-field" placeholder="Contraseña">
            </div>
            <div class="form-data-section">
                
                <input type="password" name="password-confirmation" class="input-field" placeholder="Repetir contraseña">
            </div>
            
            <button class="form-button blue-button">¡Registrarme!</button>

            <button class="form-button gray-button">Borrar</button>
        </form>
    </main>
    <footer class="bg-fff">
        <div class="upper-footer">
            <section class="commercial-advice fc-dark-gray">
                <i class="far fa-credit-card"></i>
                <h4>Pago con tarjeta o en efectivo</h4>
                
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="commercial-advice fc-dark-gray">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde los $ 2.500</h4>
                
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </section>

            <section class="commercial-advice fc-dark-gray">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="copy-advice fc-dark-gray">
            <p class="copy">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
</body>
</html>