* {
    box-sizing: border-box;
}

main {
    margin: auto;
}

.container {
    padding: 1rem;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.form-data-section {
    margin: 1rem;
    width: 100%;
    max-width: 500px;
}

.form-data-section label {
    display: block;
    padding: 4px;
}

.form-data-section :first-child {
    font-weight: bold;
    padding-bottom: 1rem;
}

.input-field {
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    font-size: 12px;
    padding: 1rem;
    width: 100%;

}

.cat-option {
    font-size: 14px;
}

.form-button {
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.gray-button {
    color: #666;
    border-color: #666;
    background-color: #ebebeb;
    font-weight: bold;
    width: 50%;
    max-width: 250px;
}

.blue-button {
    border: none;
    background-color: #1259c3;
    color: #fff;
    font-weight: bold;
    width: 50%;
    max-width: 250px;
}

.emphasize-button:hover {
    background-color: #3483fa;
}