/*

Paleta de colores 
Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a;

Tipografías 
Familia: 'Roboto'

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.product-details {
    background-color: white;
    border-top: solid #ebebeb 1px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.fc-green {
    color: #39b54a;
}

.freight i {
    display: block;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    height: 30px;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
    font-size: 16px;
}

.description {
    font-size: 16px;
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    width: 90vw;
}

footer i {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 2em;
}

footer p {
    margin: 0;
}

.copy{
    margin-top: 2em;
    text-align: left;
}

