* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, 
body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}


.bg-yellow {
    background-color: #EAC926;
}

.bg-light-gray {
    background-color: #ebebeb;
}

.bg-dark-gray {
    background-color: #666;
}

h1, h4{
    margin: 0;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.menu {
    list-style: none;
    padding: 0px;
}


.fc-dark-gray {
    color: #666;
}

